@charset "UTF-8";

body{
    background-color: rgb(237, 234, 53);
}
h1{
    color: white;
    background-color: rgb(222, 132, 6);
}

h2{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}